/*Start Font
********************************/
@font-face
{
	font-family: 'CandaraBoldItalic';
	src: url('candara_font/candaraz-webfont.eot');
	src: url('candara_font/candaraz-webfont.eot?#iefix') format('embedded-opentype'), url('candara_font/candaraz-webfont.woff') format('woff'), url('candara_font/candaraz-webfont.ttf') format('truetype'), url('candara_font/candaraz-webfont.svg#CandaraBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'CandaraItalic';
	src: url('candara_font/candarai-webfont.eot');
	src: url('candara_font/candarai-webfont.eot?#iefix') format('embedded-opentype'), url('candara_font/candarai-webfont.woff') format('woff'), url('candara_font/candarai-webfont.ttf') format('truetype'), url('candara_font/candarai-webfont.svg#CandaraItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'CandaraBold';
	src: url('candara_font/candarab-webfont.eot');
	src: url('candara_font/candarab-webfont.eot?#iefix') format('embedded-opentype'), url('candara_font/candarab-webfont.woff') format('woff'), url('candara_font/candarab-webfont.ttf') format('truetype'), url('candara_font/candarab-webfont.svg#CandaraBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'CandaraRegular';
	src: url('candara_font/candara-webfont.eot');
	src: url('candara_font/candara-webfont.eot?#iefix') format('embedded-opentype'), url('candara_font/candara-webfont.woff') format('woff'), url('candara_font/candara-webfont.ttf') format('truetype'), url('candara_font/candara-webfont.svg#CandaraRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*End Font
********************************/
.toast-title
{
	font-weight: bold;
}
.toast-message
{
	word-wrap: break-word;
}

.toast-message a, .toast-message label
{
	color: #FFF;
}
.toast-message a:hover
{
	color: #CCC;
	text-decoration: none;
}

.toast-top-left
{
	top: 12px;
	left: 12px;
}

.toast-bottom-right
{
	right: 12px;
	bottom: 12px;
}

.toast-bottom-left
{
	left: 12px;
	bottom: 12px;
}

#toast-container
{
	position: fixed;
	z-index: 99999;
	font-family: CandaraRegular !important;
}

#toast-container > div
{
	background-position: 15px center;
	background-repeat: no-repeat;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 0 0 12px #999999;
	-webkit-box-shadow: 0 0 12px #999999;
	-o-box-shadow: 0 0 12px #999999;
	box-shadow: 0 0 12px #999999;
	color: #FFFFFF;
	margin: 0 0 6px;
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0.8;
	padding: 15px 15px 15px 50px;
	width: 300px;
}

.toast
{
	background-color: #030303;
}

.toast-success
{
	background-color: #51A351;
}

.toast-error
{
	background-color: #b11116;
}

.toast-info
{
	background-color: #2F96B4;
}

.toast-warning
{
	background-color: #F89406;
}
.toast-top-right
{
	top: 12px;
	right: 12px;
}

#toast-container > :hover
{
	-moz-box-shadow: 0 0 12px #000000;
	-webkit-box-shadow: 0 0 12px #000000;
	-o-box-shadow: 0 0 12px #000000;
	box-shadow: 0 0 12px #000000;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	cursor: pointer;
}

#toast-container > .toast-info
{
	background-image: url("../Images/info.png") !important;
}

#toast-container > .toast-error
{
	background-image: url("../Images/error_popUp.png") !important;
}

#toast-container > .toast-success
{
	background-image: url("../Images/success.png") !important;
}

#toast-container > .toast-warning
{
	background-image: url("../Images/warning.png") !important;
}
