<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Connection" value="PWQrlo5O6HOSOIDTBKh6e0cMfYJr2I6UyWLzlViFdhX2CxCtU6YwzzV8/sQdG8yVAgATY4Z4i7DTmANfSZ5tIdA6PZkK9r5U4S55+dERuDtqtA6fFxGbOGuEHhy0JSej9KqeiCRQPmk="/>
    <!--Archivos JSON -->
    <add key="FileMovies" value="pvNynNdvo36er/azGkei8g=="/>
    <add key="FileMoviesCatalog" value="uIpQVl2Ns2ymlpVDKTvgeJ6v9rMaR6Ly"/>
    <!-- Path to images-->
    <add key="ImageFolder" value="sOvnPtxrD+my6IZZ9VWLww=="/>
    <add key="ImageFolderSave" value="ZCzx9meQJlcCHgIz7UxGcruHUZMMGy5/EoY1pf4OR9LspsejTrknLe5wECe+3lyMEiLOSAdTJzg="/>
    <add key="JSONFolder" value="ZCzx9meQJlcCHgIz7UxGcruHUZMMGy5/EoY1pf4OR9LspsejTrknLVUwuwRnH9X7"/>
    <!-- Credenciales-->
    <add key="Usuario" value="t+sT4tMpAiI="/>
    <add key="Contrasena" value="FyE1esQXzNY="/>
  </appSettings>
  <system.web>
    <globalization uiCulture="es" culture="es-CO"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>