<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- <add key="Connection" value="Data Source=INFORMATICA36\MSSQLSERVER2012;Initial Catalog=sitemapInfo;User ID=sa;Password=msql2k12;"/>-->
    <add key="Connection" value="Data Source=medvrt02;Initial Catalog=SalaEdicion4Pruebas;User ID=se4;Password=se4;"/>
    <!--<add key="Connection" value="Data Source=medvrt02;Initial Catalog=SalaEdicion4;User ID=se4;Password=se4;"/>-->
  </appSettings>

  
</configuration>
