<?xml version="1.0"?>
<configuration>
    <!-- Register a section handler for the log4net section -->
    <configSections>
        <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    </configSections>

    <startup>

        <supportedRuntime version="v2.0.50727"/>
    </startup>

    <appSettings>
        <!-- To enable internal log4net logging specify the following appSettings key -->
        <!-- <add key="log4net.Internal.Debug" value="true"/> -->
        <add key="StoreFolder" value="d:\Temp\Trash\T12-Iterweb-wrk\xml"/>
        <add key="ZipFolder" value="d:\Temp\Trash\T12-Iterweb-wrk\zip"/>
        <add key="Se4MediaImageGallerySourceFolder" value="z:\SitiosWeb\Sitio\BancoMedios\Galerias"/>
        <add key="Se4MediaSourceFolder" value="z:\SitiosWeb\Sitio\BancoMedios\Imagenes"/>
        <add key="Se4DocSourceFolder" value="z:\SitiosWeb\Sitio\BancoConocimiento"/>
        <add key="TempFolder" value="d:\temp"/>
        <add key="Connection" value="Data Source=medsvr47;Initial Catalog=SalaEdicion4;User ID=se4;Password=se4;"/>
        <add key="SitemapConnection" value="Data Source=medsvr47;Initial Catalog=ProtecImport;User ID=se4;Password=se4;"/>

        <add key="MainDomain" value="www.elcolombiano.com"/>

        <!-- The KnownDomain001 through KnownDomain005 keys are loaded into a string list named as KnownDomainList -->
        <add key="KnownDomain001" value="www.elcolombiano.biz"/>
        <add key="KnownDomain002" value="www.elcolombiano.co"/>
        <add key="KnownDomain003" value="www.elcolombiano.com"/>
        <add key="KnownDomain004" value="www.elcolombiano.com.co"/>
        <add key="KnownDomain005" value="www.elcolombiano.tv"/>

        <!-- The ReplaceKnownDomain001 through ReplaceKnownDomain005 keys are loaded into a string list named as ReplaceKnownDomainList-->
        <!-- 10.2.1.202-->
        <add key="ReplaceKnownDomain001" value="74.200.237.129"/>
        <add key="ReplaceKnownDomain002" value="74.200.237.129"/>
        <add key="ReplaceKnownDomain003" value="74.200.237.129"/>
        <add key="ReplaceKnownDomain004" value="74.200.237.129"/>
        <add key="ReplaceKnownDomain005" value="74.200.237.129"/>

        <add key="LimitTo" value="0"/>
        <add key="UseOldDocLimitTo" value="0"/>
        <add key="DocLimit" value="25"/>

        <!-- Use 0 to not update the create date for document, 1 to update -->
        <add key="UpdateCreateDate" value="0"/>

        <!-- A sample for Old Documents -->
        <!--<add key="OldDocFilter" value="  and (idOld in ('EC_ART_OLD_2000034', 'EC_ART_OLD_2000433', 'EC_ART_OLD_2016340', 'EC_ART_OLD_2007957', 'EC_ART_OLD_2014234', 'EC_ART_OLD_2116607', 'EC_ART_OLD_2158856', 'EC_ART_OLD_2030399', 'EC_ART_OLD_2204145', 'EC_ART_OLD_2002043', 'EC_ART_OLD_2030220', 'EC_ART_OLD_2000275', 'EC_ART_OLD_2053041', 'EC_ART_OLD_2230896', 'EC_ART_OLD_2113753') )  "/>-->
        <!--<add key="OldDocFilter" value=" and oldDocStatus is  null and (idOld in (select idOld from Reprocess) )  "/>-->
        <add key="OldDocFilter" value="  and (idOld in (select idOld from Reprocess) )  "/>

        <!-- A Sample for SE4 Documents -->
        <!--<add key="SE4DocFilter" value=" and idObjetoSE in (276623, 290518, 144247, 77236, 167944, 168516, 211279, 181057, 77343, 106155, 537, 1084, 22275, 255537, 81560, 188862, 194290, 108712)  "/>-->
        <!--<add key="SE4DocFilter" value="  and idObjetoSE in (276623, 290518, 144247, 77236, 167944, 168516, 211279, 181057, 77343, 106155, 537, 1084, 22275, 255537, 81560, 188862, 194290, 108712)  "/>-->
        
        <!-- following used with Protecmedia -->
        <!-- Jun.17/2014 - and idObjetoSE in (167944)  -->        
        <!-- Jun.18/2014 - and idObjetoSE in (248021, 248100, 248092, 248162, 248219,248221, 248035,248036,248037, 248079) -->
        <!-- Jun.20/2014 - and idObjetoSE in (239310)   Contains one brightcove video -->
        <!-- Jun.25/2014 - and idObjetoSE in (248728, 249086, 259504,259637)  use for aggregators NoticiaClave -->
        <!-- Jun.26/2014 - and idObjtoSE in (257854, 239763) it is creacion_notainterior100M with primer parrafo set (257854), the other is brightcove .-->
        <!-- Jun.26/2014 - and idObjetoSE in (77268) it is creacion_notaInterior with primer parrafo set.-->
        <!-- Jun.26/2014 - and idObjetoSE in (248728) this is an image gallery -->
        <!-- Jun.27/2014 - and idObjetoSE in (224233, 293935, 239371, 239361) when 224233 is Old Video format, 293935 is BrightCove, other ids containt TEXT-->
        <!-- Jun.27/2014 - and idObjetoSE in (280859, 280860, 239371, 239220, 205874) Creacion_NotaInteriorEspecialesEC100A layout (but what about the linking)-->
        <!-- Jun.27/2014 - and idObjetoSE in (284305, 100172, 77239, 77821, 107114) creacion_notaInterior -->
        <!-- Jun.27/2014 - and idObjetoSE in (252113, 127280, 127168, 148535) creacion_notaInteriorM -->
        <!-- Jun.27/2014 - and idObjetoSE in (109624, 114536, 151976) creacion_notaInteriorT -->
        <!-- Jun.27/2014 - and idObjetoSE in (158205, 164192, 546) NotaInterior-->
        <!-- Jun.27/2014 - and idObjetoSE in (155319, 1084, 17025) NotaInteriorNew-->
        <!-- Jun.27/2014 - and idObjetoSE in (71013, 22343, 69955) NotaInteriorNavidad-->
        <!-- Jun.27/2014 - and idObjetoSE in (277112, 292200, 241544, 241527) creacion_graficos -->
        <!-- Jul.01/2014 - and idObjetoSE in (292224, 293915) creacion_notaInteriorEditorial -->
        <!-- Jul.02/2014 - and idObjetoSE in (290518, 272846) creacion_infografias -->
        <!-- Jul.03/2014 - and idObjetoSE in (241596, 240165) One 'creacion_notaInterior100M' but treated as an Infographic -->
        <!-- Jul.04/2014 - THIS IS FOR OLDDOC logic to update createdate field
                           use this filter and idSitemap in (29846, 33963, 530280) NEVER DONE-->
        <!-- Jul.07/2014 -  and idObjetoSE in (254719,254718,291104,293686,255021) Images with non-acii characters -->
        <!-- Jul.10/2014 - and idObjetoSE in (298543, 300095, 218110, 301711, 211272, 221710, 233448) Docs with documents in Agregadora that are not to migrate as such but to historical silo 
                                                                      Using ids 298543, 300095
                                                                      Docs with ids 218110, 301711, 211272, 221836, 233448 are documents in Agregadora that loads in Agregadora-like metadata content   
                                                                      Look! 301711 is one of 'Diálogos de paz'
        -->
        <!-- Sep.01/2014 - Backup for this entry
             and idObjetoSE in (276623, 290518, 144247, 77236, 167944, 168516, 211279, 181057, 77343, 106155, 537, 1084, 22275, 255537, 81560, 188862, 194290, 108712)  
             
             Sep.17/2014
             and idSE4ArticleId in ('EC_296209', 'EC_296180', 'EC_296218') -) To test one image in many docs.
             and idSe4ArticleId in ('EC_298620','EC_298619','EC_298617','EC_298611','EC_298608','EC_298607','EC_298606','EC_298605','EC_298603','EC_298602','EC_298601','EC_298600','EC_298599','EC_298598','EC_298596','EC_298595','EC_298594','EC_298593','EC_298592','EC_298591','EC_298590','EC_298589','EC_298588','EC_298587','EC_298585') -) To test metadata and images
             
             Oct.15/2014
             idSE4ArticleId in ('EC_300533','EC_300611','EC_290518','EC_302704','EC_302677','EC_302575','EC_302417','EC_273053','EC_273037','EC_272948','EC_272869','EC_272856','EC_272846','EC_243147','EC_243146','EC_243143','EC_243137','EC_243088','EC_240165','EC_237669','EC_233799','EC_233651','EC_229928', 'EC_188122', 'EC_128971')
             
             OLDDOCS Like
             and idOld in ('EC_AO_4001339','EC_AO_4001341','EC_AO_4001343','EC_AO_4001345','EC_AO_4001347','EC_AO_4001443','EC_AO_4001495','EC_AO_4001496','EC_AO_4001497','EC_AO_4001498','EC_AO_4001499','EC_AO_4001500','EC_AO_4001501','EC_AO_4001502','EC_AO_4001503','EC_AO_4001504','EC_AO_4001505','EC_AO_4001506','EC_AO_4001507','EC_AO_4001508','EC_AO_4001509','EC_AO_4001510','EC_AO_4001511','EC_AO_4001512','EC_AO_4001513')
             
             Oct.28/2014
              and idSitemap in (573178,379862) -) To evaluate that 'creacion_video' concatenates Lead in text. And if it has a Brightcove Video and not 'creacion_video' it sets document in two sections '/historico' default, and '/multimedia/video'.
              and idSitemap in (208752, 552577) -) 'creacion_notaInteriorEditorial' to put text and contraposition in each DIV.
              and idSitemap in (142148, 30704) -) 'NotaInteriorNavidad' to gather more content than initialy gathered.
              
             Oct.29/2014
              and idSitemap in (561131,567205,540707,572070) -) Even though these are marked as 'creacion_infografias' they are not like so and thus they are going to be generated as a normal article with infografico zoomed in same screen.
        -->
        <add key="SE4DocFilter" value=" and idObjetoSE in (261592, 219661)  "/>
        <add key="SE4LayoutToFilter" value="'creacion_notaInterior100','Creacion_NotaInteriorEspecialesEC100A','creacion_notaInterior','creacion_notaInterior100M','creacion_notaInterior100MM','creacion_notaInteriorM','creacion_notaInteriorT','NotaInterior','NotaInteriorNew','NotaInteriorNavidad','creacion_minutoaminuto','creacion_galeria','creacion_infografias','creacion_video','creacion_audio','creacion_graficos','creacion_notaInteriorEditorial'"/>
        <add key="IterWebLayoutName" value="PLANTILLA-CONTENIDOS-HISTORICO"/>
        <add key="XmlBeautify" value="yes"/>
        <add key="ByPassToonCreation" value="0"/>

        <!-- 
        The following option controls the document processing with the following values  
        0: Process everything.
        1: Process only SE4 documents
        2: Process only Old documents
        3: Process only toons from files (namely from 'Se4MediaSourceFolder' at 'caricaturas2'
        4: No Processing at all.
        5: Do a Database sync by calling sp 'sp_syncmigrationdb'
        6: Execute SQLExecStmt command non recordset result returned
        7: Validate non-ascii characters in URL
        8: Package Commentary user.
        9: Print Version
        10: Compute URLTitle
        11: Update Create Date Old Docs Only
        12: SQL to CSV file generation using 'SQLExecStmt'.
        13: SQL Batch Execute. NOTE: Reads sql statements using Key 'SQLBatchFile' 
        14: SQL to CSV file generation using key 'SQLBatchFile'
        15: Analyze Old Doc Content Size
        16: Analyze SE4 Doc Content Size
        17: Fill [DocBrightCove] table indicating which are video and notes with video.
        18: Analyze Old Doc Bancoconocimiento in text
        -->
        <add key="DocumentProcessingMode" value="3"/>
        
        <!-- 
        There are two XML formats possible to generate. 
        When 1 then uses long version (the one which uses <iter><list><pool><item></item></pool></list></iter>) format.
        When 2 then uses short version (the one which uses <articles><article></article></articles> format.
        -->
        <add key="OutputStructure" value="2"/>

        <!--
        When set to 1, the program scans a group of Old Documents where OldDocStatus is NULL
        to infer if they point URLs not already stored in Sitemap table.
        -->
        <add key="OldDocNewURlScan" value ="0"/>

        <!-- Use 0 to indicate not reset counters, 1 to reset them-->
        <add key="ResetCounters" value="1"/>

        <add key="GlobalSiteName" value="el Colombiano"/>
        <add key="DefaultImageMaxWidth" value="5000"/>
        <add key="DefaultImageMaxHeight" value="5000"/>
        <add key="TitleLimitTo" value="150"/>
        <add key="Qualification" value="TEST_ITER"/>
        <add key="Layout" value="LAYOUT_ITER"/>
        <add key="DateStart" value="2014"/>
        <add key="DateStartFilter" value= "20140101"/>
        <add key="DateEndFilter" value="-1"/>

        <add key="CounterJSONFile" value="d:\opt\logs\se4migrate\json\cnts.json"/>

        <!-- If you are using OutputStructure with value 2, then the following keys are used -->
        <add key="ResetJSonFiles" value="1"/>
        <add key="SectionsJSONFile" value="d:\opt\logs\se4migrate\json\sections.json"/>
        <add key="VocabulariesJSONFile" value="d:\opt\logs\se4migrate\json\vocabularies.json"/>        
        
        <!-- Jul.07/2014 New entries herein -->
        <add key="SQLExecStmt" value=""/>
        <add key="CSVExportFile" value="d:\opt\logs\se4migrate\csv\sqlexport.csv"/>
        <add key="SQLBatchFile" value="d:\opt\logs\se4migrate\sql\batch.sql"/>
    </appSettings>

    <!-- This section contains the log4net configuration settings -->
    <!--
         Log4Net Levels
         ALL
         DEBUG
         INFO
         WARN
         ERROR
         FATAL
         OFF
    -->
    <log4net>
        <!-- Define some output appenders -->
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="d:\opt\logs\se4migrate\rolling-log" />
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyyMMdd" />
            <maxSizeRollBackups value="20" />
            <maximumFileSize value="10MB" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
            </layout>
        </appender>

        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <file value="d:\opt\logs\se4migrate\log-file.txt"/>
            <appendToFile value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <header value="[Header]"/>
                <footer value="[Footer]"/>
                <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
            </layout>
        </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
            </layout>
        </appender>

        <!-- Setup the root category, add the appenders and set the default level -->
        <root>
            <level value="WARN"/>
            <!--<appender-ref ref="LogFileAppender"/>-->
            <!--<appender-ref ref="ConsoleAppender" />-->
            <appender-ref ref="RollingLogFileAppender" />
        </root>
    </log4net>
</configuration>
