.seccion-cines .ec-content {
    width: 100%;
    margin: 0 auto;
}

.seccion-cines .buscador-peliculas {
    margin: 0 0 17px;
    }
    
.buscador-peliculas .content .logo-cines {
    float: left;
    height: 69px;
    margin-left: 27px;
    padding: 0 0 8px;
    width: 240px;
	background: url(../images/logo-cines.png) center bottom no-repeat;
	
    }

.signed-out .peliculas-cartelera {
	margin-bottom: 20px;
}    
    
.buscador-peliculas .content .search {
    float: left;
    position: relative;
    margin: 0 0 0 30px;
    }
    
.buscador-peliculas .content .search .input-busqueda {
    float: left;
    width: 220px;
    margin: 12px 5px;
    }
    
.buscador-peliculas .content .search .input-busqueda h6 {
    color: #3a3a3a;
    font: 13px 'roboto_condensedBold';
    text-transform: uppercase;
    }
    
.buscador-peliculas .content .search .icon-search {
    background-position: -150px -372px;
    position: absolute;
    cursor: pointer;
    top: 32px;
    right: -31px;
    display: inline-block;
    width: 27px;
    height: 27px;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector {
	margin: 10px 0 0;
	font: 14px 'roboto_condensedRegular';
}

.buscador-peliculas .content .search .input-busqueda .selector .btn-group {
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    padding: 5px 7px;
    text-transform: uppercase;
    position: relative;
    width: 225px;
    margin: 0 auto;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .btn {                        
    color: #7f7e7e;
    display: inline-block;
    text-decoration: none;
    position: relative;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .icon-arrow-down {
    background-position: -70px -28px;
    position: absolute;
    display: inline-block;
    top: 7px;
    right: -147px;
    width: 9px;
    height: 5px;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group:hover {
    background-color: #fff;
    color: #333333;
    text-decoration: none;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    display: none;
    font-size: 13px;
    left: 0px;
    list-style: none;
    margin: 0;
    min-width: 238px;
    
    padding: 4px 0;
    position: absolute;
    top: 27px;
    z-index: 1000;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group.open .dropdown-menu {
    margin-top: 1px;
    display: block;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .dropdown-menu a {
    clear: both;
    color: #333333;
    display: block;
    padding: 3px 15px;
    text-decoration: none;
    }
    
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .dropdown-menu li > a:hover, 
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .dropdown-menu .active > a, 
.buscador-peliculas .content .search .input-busqueda .selector .btn-group .dropdown-menu .active > a:hover {
    background-color: #b3b3b3;
    color: #ffffff;
    text-decoration: none;
    }
    
.seccion-cines .buscador-peliculas .content,
.seccion-cines .peliculas-cartelera .content {
    width: 1000px;
    margin: 0 auto;
    }
    
.peliculas-cartelera .content .pelicula {
		float: left;
		width: 210px;			
		margin: 0px 0px 19px 29px;
}
       
.poster-pelicula {
    width: 221px; 
    height: 309px;
    overflow: hidden;
    cursor: pointer;
    background: #CBCBCB;
    }    
.no-cursor{
	cursor:default;
}