<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Watch out!!!! Only connection at line 5 must be present for Development -->
    <add key="Connection" value="PWQrlo5O6HOSOIDTBKh6e0cMfYJr2I6UyWLzlViFdhX2CxCtU6YwzzV8/sQdG8yVAgATY4Z4i7DTmANfSZ5tIdA6PZkK9r5U4S55+dERuDtqtA6fFxGbOGuEHhy0JSej9KqeiCRQPmk="/>
    <add key="ConnectionPDN" value="PWQrlo5O6HOSOIDTBKh6e0cMfYJr2I6UyWLzlViFdhX2CxCtU6YwzwZliOxLCHnsCwhYgSVbV9dTi1x641+ur+5RPxxs3/CzhUABDidQXpbJxClpGxlMthYVC5o8hSU/t+sT4tMpAiI="/>
    <!--Archivos JSON -->
    <add key="FileMovies" value="pvNynNdvo36er/azGkei8g=="/>
    <add key="FileMoviesCatalog" value="uIpQVl2Ns2ymlpVDKTvgeJ6v9rMaR6Ly"/>
    <!-- Path to images-->
    <add key="ImageFolder" value="sOvnPtxrD+my6IZZ9VWLww=="/>
    <add key="ImageFolderSave" value="ZCzx9meQJlcCHgIz7UxGcruHUZMMGy5/EoY1pf4OR9LspsejTrknLe5wECe+3lyMEiLOSAdTJzg="/>
    <add key="JSONFolder" value="ZCzx9meQJlcCHgIz7UxGcruHUZMMGy5/EoY1pf4OR9LspsejTrknLVUwuwRnH9X7"/>
    <!-- Credenciales-->
    <add key="Usuario" value="t+sT4tMpAiI="/>
    <add key="Contrasena" value="FyE1esQXzNY="/>
    <!-- General -->
    <add key="urlMilleniumPrefix" value="Q9GfIAQ1I7VQd3sKZgg8Md7XYx9YE8cWfdmi4wmqV4sZJHO8d0Lp1syLrJwgtMi5"/>
  </appSettings>  

  <!-- This section contains the log4net configuration settings -->
  <!--
         Log4Net Levels
         ALL
         DEBUG
         INFO
         WARN
         ERROR
         FATAL
         OFF
    -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="d:\opt\logs\eccines\rolling-log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="d:\opt\logs\eccines\log-file.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]"/>
        <footer value="[Footer]"/>
        <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="LogFileAppender"/>-->
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

</configuration>