@charset "utf-8";
/* CSS Document */

/*Font del sitio*/
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/roboto/roboto-bold/robotocondensed-bold-webfont.eot');
    src: url('fonts/roboto/roboto-bold/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-bold/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto-bold/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('fonts/roboto/roboto-light/robotocondensed-light-webfont.eot');
    src: url('fonts/roboto/roboto-light/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-light/robotocondensed-light-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto-light/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/roboto/roboto-regular/robotocondensed-regular-webfont.eot');
    src: url('fonts/roboto/roboto-regular/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-regular/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto-regular/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('fonts/roboto/roboto-medium/roboto-medium-webfont.eot');
    src: url('fonts/roboto/roboto-medium/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-medium/roboto-medium-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto-medium/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto/roboto-regular-webfont.eot');
    src: url('fonts/roboto/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('fonts/roboto/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Fin Fuentes */

/*Reset
********************/ 
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,p { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th,figcaption { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: center; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }
.clearfix:after { content: ".";display: block;clear: both;visibility: hidden; line-height: 0; height: 0;}



#modulo-cine { width:670px; font-family: "roboto_condensedbold";}
#modulo-cine .name-mc{ background:#E1E1E1 url(../images/shadow-top.png) center bottom no-repeat; border-bottom:1px solid #D5D5D5; -webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; padding:10px 20px; font-size:25px;}
#modulo-cine .select-mc{ background:#DCDCDC; padding:20px;}
#modulo-cine .select-mc p{ width:240px; float:left; font-size:13px; min-height:54px;}
#modulo-cine .select-mc p span{ display:block; text-transform:uppercase; margin-bottom:5px;}
#modulo-cine .select-mc p.teatro{ background:url(../images/teatro.png) left bottom no-repeat; padding-left:60px;}
#modulo-cine .select-mc p.formato{ background:url(../images/formato.png) left bottom no-repeat; padding-left:60px; float:right;}
#modulo-cine .select-mc p select{ border:none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  padding:5px; color:#7f7e7e; font-size:11px; width:240px;}
#modulo-cine .address-mc{ background:#E1E1E1 url(../images/shadow-bottom.png) center top no-repeat; border-top:1px solid #D5D5D5; padding:10px 20px; font-size:15px; text-transform:uppercase;}
#modulo-cine .list-days{ background:#ffffff url(../images/bg-list-days.jpg) center bottom no-repeat; padding:5px 20px; position:relative;}
#modulo-cine .list-days .select-day{ background:url(../images/arrow.png) center top no-repeat; width:5px; height:9px; position:absolute; left:10px; top:15px;}
#modulo-cine .list-days p{ color:#6c2869; text-transform:uppercase; font-size:22px;} 
#modulo-cine .list-days p span{ color:#707070; text-transform:uppercase; font-size:14px; float:right; border:1px solid #cccccc; padding:2px 4px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-family: 'roboto_condensedregular'; margin-top:3px;} 
#modulo-cine .list-days ul{ margin:0px 0px 10px 0px;}
#modulo-cine .list-days ul li.first{ padding-right:10px; padding-left:0px;}
#modulo-cine .list-days ul li{ list-style:none; font-family: 'roboto_condensedregular'; border-right:1px solid #999999; line-height:15px; float:left; padding:0px 10px; margin-top:10px;}
#modulo-cine .list-days ul li.last{ border-right:0px;}
#modulo-cine .old{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; filter: alpha(opacity=40); opacity: 0.4;}
#modulo-cine .bg-footer{ background:url(../images/bg-footer.png) center center no-repeat; width:670px; height:25px;}
